{% extends 'base.html.twig' %}

{% block title %}Edit Acategorie{% endblock %}

{% block body %}
    <h1>Edit Acategorie</h1>

    {{ include('acategorie/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_acategorie_index') }}">back to list</a>

    {{ include('acategorie/_delete_form.html.twig') }}
{% endblock %}
