{% extends 'base.html.twig' %}

{% block title %}Edit Rproduits{% endblock %}

{% block body %}
    <h1>Edit Rproduits</h1>

    {{ include('rproduits/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_rproduits_index') }}">back to list</a>

    {{ include('rproduits/_delete_form.html.twig') }}
{% endblock %}
